<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <style>
            h1 {color:blue;}
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Create an account</a></li>
            </ul>
        </nav>
        <h1>You are logged in as {{email}} and on the page home!</h1>
    </body>
</html>