<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <style>
            h1{color:green;}
            .error{color:red;}
        </style>
    </head>
    <body>
        <nav>
            <ul>
                
                <li><a href="/register">Create an account</a></li>
                <li><a href="/">Home</a></li>
                
            </ul>
        </nav>
        <h1>Login to your account</h1>
        {% if error %}
            <p class="error">{{error}}</p>
        {%endif%}

        <form id="login" method="post" action="{{url_for('login_bp.login')}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <label for="email">Email</label>
            <input type="text" name="email" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>

    </body>
</html>